<div class="question-form">
<p>Ask your coach anything:</p>
<form action="/answer" class="form">
  <input type="text" id="input" name="question">
  <input type="submit" value="Ask!" id="button">
</form>
